.parrallax-image {
    background-image: url('https://img.freepik.com/free-photo/dock-pier-sea-twilight-long-exposure_1150-10769.jpg?w=740&t=st=1693969931~exp=1693970531~hmac=74fe7abf073aa9ec7c0eedbd72855dc9fd37aed160d7d795e8f827841cb1a2a3');
    background: fixed;
    width: 100%;
}